appdirs==1.4.4
appnope==0.1.2
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
bleach==3.3.0
certifi @ file:///Users/ianscottknight/Library/Caches/pypoetry/artifacts/a5/b1/71/0fb759c6550e4dc0a538f0fc47cdf7dcd23bae70385241ee92b4d5b87c/certifi-2020.12.5-py2.py3-none-any.whl
cffi==1.14.5
cfgv==3.2.0
chardet @ file:///Users/ianscottknight/Library/Caches/pypoetry/artifacts/47/b7/82/19c2b887f87f3adbaf4e34c55189388e5132c78f6929d7001a78b0209b/chardet-4.0.0-py2.py3-none-any.whl
cycler==0.10.0
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.1
entrypoints==0.3
filelock==3.0.12
identify @ file:///Users/ianscottknight/Library/Caches/pypoetry/artifacts/4b/d7/5d/5a12beeac9887fca4ce7af9eae3f0ca44b7de76037dcf500c4c5e507d6/identify-2.2.0-py2.py3-none-any.whl
idna @ file:///Users/ianscottknight/Library/Caches/pypoetry/artifacts/9e/f9/03/6066b92d35486e7f0d4f310126e3c60a6619726e43ef98e32e105b5c52/idna-2.10-py2.py3-none-any.whl
imageio==2.9.0
ipykernel @ file:///Users/ianscottknight/Library/Caches/pypoetry/artifacts/18/8b/70/472bd42e662e9dd3bb8c14f1e4c7aafbfb090a58ad541f0ead3a958cb4/ipykernel-5.5.0-py3-none-any.whl
ipython @ file:///Users/ianscottknight/Library/Caches/pypoetry/artifacts/1a/68/b9/1cab2debf15ff5e729ed700b4745a0cbd49a73956d4c0199b607acc7ec/ipython-7.21.0-py3-none-any.whl
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==2.11.3
joblib @ file:///Users/ianscottknight/Library/Caches/pypoetry/artifacts/99/5d/16/954581189911abfb7964c29411008b77f05fc968eb150b76de0105298a/joblib-1.0.1-py3-none-any.whl
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console @ file:///Users/ianscottknight/Library/Caches/pypoetry/artifacts/4f/a0/7b/c17a033f0e315629c54eaf225af791200d865fe08aa89b2e8dd535b32a/jupyter_console-6.3.0-py3-none-any.whl
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib @ file:///Users/ianscottknight/Library/Caches/pypoetry/artifacts/e2/7b/21/6373ea95c50a8ee88e75d1e79f9ad2586ce0a5bed48b88ff47c16e53cc/matplotlib-3.3.4-cp38-cp38-macosx_10_9_x86_64.whl
mistune==0.8.4
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
networkx==2.5
nodeenv==1.5.0
notebook @ file:///Users/ianscottknight/Library/Caches/pypoetry/artifacts/3e/8a/25/b1670acaec388e488b5241e4817ce5dcc033c659e66dcabd9bc167ed3e/notebook-6.2.0-py3-none-any.whl
numpy @ file:///Users/ianscottknight/Library/Caches/pypoetry/artifacts/b9/d7/76/e598dafe35eb59578dfbb5706132ceb335b69b2ef52788d007dc094253/numpy-1.20.1-cp38-cp38-macosx_10_9_x86_64.whl
packaging==20.9
pandas==1.2.3
pandocfilters==1.4.3
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.2
pre-commit==2.11.1
prometheus-client==0.9.0
prompt-toolkit @ file:///Users/ianscottknight/Library/Caches/pypoetry/artifacts/b9/55/3c/ded511627be9b4982247b5c0f886d1d9c7730d18c3267169a40107dc48/prompt_toolkit-3.0.17-py3-none-any.whl
ptyprocess==0.7.0
pycparser==2.20
Pygments==2.8.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-dotenv @ file:///Users/ianscottknight/Library/Caches/pypoetry/artifacts/27/f9/59/016daa70123960d3151e67eec2f6b32e7bae550ac7892b21218139c2ef/python_dotenv-0.14.0-py2.py3-none-any.whl
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.0.3
qtconsole==5.0.3
QtPy==1.9.0
requests @ file:///Users/ianscottknight/Library/Caches/pypoetry/artifacts/fe/f0/74/d691c7619cd645682c495ff78949b9c284e88d3f2ee85124df5cec5b0a/requests-2.25.1-py2.py3-none-any.whl
scikit-image==0.18.1
scikit-learn @ file:///Users/ianscottknight/Library/Caches/pypoetry/artifacts/56/02/d9/ff6ccfcb1d6bd8ad3b4a7c1ac92f32fe5a0ff3ce2dd8ab83b0c85bdf86/scikit_learn-0.23.2-cp38-cp38-macosx_10_9_x86_64.whl
scipy @ file:///Users/ianscottknight/Library/Caches/pypoetry/artifacts/98/e6/9a/ec37b4d476e93b73a6ac9e134ac65839185bd9428c87e4913a614f1f80/scipy-1.6.1-cp38-cp38-macosx_10_9_x86_64.whl
seaborn==0.11.1
Send2Trash==1.5.0
six==1.15.0
terminado @ file:///Users/ianscottknight/Library/Caches/pypoetry/artifacts/c9/6a/be/8b180d866bbce7739dbf28133b0e76ce8e87042250ba5c18fc190b5d59/terminado-0.9.3-py3-none-any.whl
testpath==0.4.4
threadpoolctl @ file:///Users/ianscottknight/Library/Caches/pypoetry/artifacts/51/cf/f3/45cf01a8bc970a364ec52ad5b3efb73b5796bed51e1aef77f8f1127009/threadpoolctl-2.1.0-py3-none-any.whl
tifffile==2021.3.17
toml==0.10.2
torch @ file:///Users/ianscottknight/Library/Caches/pypoetry/artifacts/68/68/fa/86aede11239f02810c7746cb178fbf07751b4521c941f66832f716de05/torch-1.8.0-cp38-none-macosx_10_9_x86_64.whl
torchvision @ file:///Users/ianscottknight/Library/Caches/pypoetry/artifacts/3f/45/9d/6ce94ac036e9cdc6db469629925fe95ff4cbe574e4b15d1dc3b28e219a/torchvision-0.9.0-cp38-cp38-macosx_10_9_x86_64.whl
tornado==6.1
tqdm @ file:///Users/ianscottknight/Library/Caches/pypoetry/artifacts/7d/3c/af/2f9fd9c33734e839078cfa1784fd8307928d72180000968243c7779f35/tqdm-4.59.0-py2.py3-none-any.whl
traitlets==5.0.5
typing-extensions @ file:///Users/ianscottknight/Library/Caches/pypoetry/artifacts/ac/8f/3a/97dfae6ca13a6e156f19a5e8aa95fc250129d7e5e6cd0f7c76a1d45b4f/typing_extensions-3.7.4.3-py3-none-any.whl
urllib3 @ file:///Users/ianscottknight/Library/Caches/pypoetry/artifacts/07/e4/ee/0871e5b17849295d410e39a10a8be74439d3dbf1f39a6dd1af25e32754/urllib3-1.26.4-py2.py3-none-any.whl
virtualenv==20.4.3
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
